.header {
  background-color: #43e895;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.header-title {
  align-self: flex-end;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.0625rem;
  margin: 0 0 0.75rem 0;
}

.header-map-icon-container {
  bottom: 0.25rem;
  display: inline-block;
  position: absolute;
  margin-right: 0.75rem;
  right: 0;
}

.header-map-icon {
  height: 2.25rem;
  width: 2.25rem;
}

@media screen and (min-width: 48rem) {
  .header-title {
    font-size: 1.4rem
  }
}
