.list-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  width: 100%;
}


@media screen and (min-width: 48rem) {
  .list-view {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4.5rem 2.5vw 0 2.5vw;
    max-width: 70rem;
  }
}
